<!DOCTYPE html>
<script src="app.js" defer></script>
<head>
	<meta charset="utf-8">
	<meta name="description" content="Web Development Project">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Date Mates</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	
	<header>
	
	</header>
</head>
<body>
	<div class="pagewrapper">
		<div class="contentarea">
			{{{body}}}
		</div>
	</div>
</body>
<footer>
	<h5 id="Disclaimer">Disclaimer: I don't want to be responsible for anyones personal information. 
		So based on this I have decided not to use a database and not to store user data. 
		As a consequence you can not customize the date form so please be open to whatever the invitee may choose and have fun!</h5>
</footer>