<!DOCTYPE html>
<script src="app.js" defer></script>
<head>
	<meta charset="utf-8">
	<meta name="description" content="Web Development Project">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">
	<title>Date Mates{{title}}</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	
	<header>
	
	</header>
</head>
<body>
	<div class="pagewrapper">
		<div class="contentarea">
			{{{body}}}
		</div>
	</div>
</body>
<footer>
	<h5 id="Disclaimer">Disclaimer: I don't want to be responsible for anyones personal information. 
		So based on this I have decided not to use a database and not to store user data. 
		As a consequence you can not customize the date form so please be open to whatever the invitee may choose and have fun!</h5>
</footer>