<!DOCTYPE html>
<script src="app.js" defer></script>
<head>
	<meta charset="utf-8">
	<meta name="description" content="Web Development Project">
	<meta name=viewport content="width=device-width, initial-scale=1">
	<title>Date Mates</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	
	<header>
	
	</header>
</head>
<body>
	<div class="pagewrapper">
		<div class="contentarea">
			{{{body}}}
		</div>
	</div>
</body>
<footer>

</footer>