<h1>Welcome to Date Mates!</h1>

<p>This site is for inviting someone on a date via an online form. 
  You will send them your invite link and when they submit the form you will receive their responses to the form in your email along with a generated invite image for you to send to them as you see fit.
  The idea for this site came from <a href="https://www.tiktok.com/@maytheeleven/video/7028257075352308998" target="_blank">this TikTok.</a> 
  In the comments many people were saying they would either like to be asked on a date this way or ask someone this way, and felt like it would be fun to make.</p>

<div id="Formbox">
  <form id="Form">
    <label for="email">Enter email below to receive your date links!</label><br>
    <input type="email" id="email" placeholder="exampleEmail@gmail.com"><br>
    <label>(This site does not use a database and does NOT save this email or any personal information)</label>
    <input type="button" value="Submit" id="Submit">
  </form>
  <label id="InviteLink">Invite link: </label><br>
  <label id="SurveyLink">Survey link: </label>

  <script>
    document.getElementById("Submit").onclick = function() {myFunction()};

    function myFunction() {
      var email = document.getElementById("email").value;
      var codedemail = btoa(email)

      document.getElementById("InviteLink").innerHTML = 'Invite link: https://datemates.herokuapp.com/invite/${codedemail}';
      document.getElementById("SurveyLink").innerHTML = 'Survey link: https://datemates.herokuapp.com/survey/${codedemail}';
    }
</script>
</div>