
<p>This site is for inviting someone on a date via an online form. 
  You will send them your invite link and when they submit the form you will receive their responses to the form in your email along with a generated invite image for you to send to them as you see fit.
  The idea for this site came from "Graham" as seen in <a href="https://www.tiktok.com/@maytheeleven/video/7028257075352308998" target="_blank">this TikTok.</a> 
  In the comments many people were saying they would either like to be asked on a date this way or ask someone this way, and I felt like it would be fun to make.</p>

<div class="formbox">
  <form id="Form" onsubmit="return myFunction();">
    <label for="email">Enter name and email below to receive your date links!</label><br>
    <label for="name">Name: <input type="name" id="name" placeholder="Your name" required></label><br>
    <label for="email">Email: <input type="email" id="email" placeholder="exampleEmail@gmail.com" required></label><br>
    <label>(This site does not use a database and does NOT save this email or any personal information)</label>
    <input type="submit" value="Submit" id="Submit">
  </form>
  <div id="Links">
    <label>Pre-Date Invite link (Send this to the person you wish to invite on a date): </label><br>
    <a href="" id="InviteLink" target="_blank"></a><br>
    <label>Post-Date Survey link (After the date send this to the person you took): </label><br>
    <a href="" id="SurveyLink" target="_blank"></a>
  </div>

  <script>
    function myFunction() {
      if (document.getElementById("email").value != "" && document.getElementById("name").value != ""){
        var email = document.getElementById("email").value;
        var codedemail = btoa(email)
        var name = document.getElementById("name").value;
        var codedname = btoa(name)

        document.getElementById("InviteLink").href = `https://datemates.herokuapp.com/invite/${codedemail}/${codedname}`;
        document.getElementById("InviteLink").textContent = `https://datemates.herokuapp.com/invite/${codedemail}/${codedname}`;
        document.getElementById("SurveyLink").href = `https://datemates.herokuapp.com/survey/${codedemail}/${codedname}`;
        document.getElementById("SurveyLink").textContent = `https://datemates.herokuapp.com/survey/${codedemail}/${codedname}`;
        return false;
      }
    }
  </script>
</div>