<h1>Welcome to Date Mates!</h1>

<p>This idea came from <a href="https://www.tiktok.com/@maytheeleven/video/7028257075352308998">this TikTok</a> I saw and felt like it would be fun to make.</p>

<form id="Form"></form>