<h1>Welcome to Date Mates!</h1>

<p>You have agreed to go on a date with {{email}} Congratulations! They promise a good time with your preferences in mind.</p>

<div id="Formbox">
  <form id="Form">
    <div class="formbox">
      <label for="Name">What is your name?</label><br>
      <input type="text" id="Name"><br>
    </div>

    <div class="formbox">
      <label for="Date">What time would you like to start?</label><br>
      <input type="datetime-local" id="Date"><br>
    </div>

    <div class="formbox">
      <label for="Style">What style date would you like?</label>
      <ul id="Style">
        <li><input type="radio" id="DM"><label for="DM">Dinner and a Movie</label></li>
        <li><input type="radio" id="DA"><label for="DA">Dinner and Art Exhibit/Museum</label></li>
        <li><input type="radio" id="HO"><label for="HO">Hike or Outdoor activity</label></li>
        <li><input type="radio" id="BI"><label for="BI">Beach Day and Ice Cream</label></li>
        <li><input type="radio" id="SH"><label for="SH">Skating and Hot Chocolate (hand holding optional)</label></li>
        <li><input type="radio" id="LT"><label for="LT">Laser Tag</label></li>
        <li><input type="radio" id="BI"><label for="BI">Trampoline Park</label></li>
        <li><input type="radio" id="SO"><label for="SO">Other: </label><input type="text" id="SOIn"></li>
      </ul>
    </div>

    <div class="formbox">
      <label for="Food">What kind of food do you enjoy?</label>
      <ul id="Food">
        <li><input type="radio" id="I"><label for="I">Indian</label></li>
        <li><input type="radio" id="T"><label for="T">Thai Food</label></li>
        <li><input type="radio" id="B"><label for="B">Burgers</label></li>
        <li><input type="radio" id="S"><label for="S">Steakhouse</label></li>
        <li><input type="radio" id="V"><label for="V">Hilarious Vegan Options</label></li>
        <li><input type="radio" id="FO"><label for="FO">Other: </label><input type="text" id="FOIn"></li>
      </ul>
    </div>

    <div class="formbox">
      <label for="FoodRes">Do you have any allergies or food restrictions?</label><br>
      <input type="text" id="FoodRes" placeholder="Your answer">
    </div>

    <div class="formbox">
      <label for="Fanciness">On a scale of one to five, what is your preference in terms of fancy-schmanciness?</label>
      <ol id="Fanciness">
        <li><input type="radio" id="I"><label for="I">Basically Pyjamas</label></li>
        <li><input type="radio" id="T"><label for="T">Active Wear</label></li>
        <li><input type="radio" id="B"><label for="B">Everyday Casual</label></li>
        <li><input type="radio" id="S"><label for="S">Business Casual, like a Realtor</label></li>
        <li><input type="radio" id="V"><label for="V">Dress & suit & tie</label></li>
      </ol>
    </div>
  </form>
</div>