<h1>Welcome to Date Mates!</h1>

<p>You have agreed to go on a date with {{email}} Congratulations! They promise a good time with your preferences in mind.</p>

<div id="Formbox">
  <form id="Form">
    <label for="name">What is your name?</label>
    <input type="text" id="name">

    <label for="date">What time would you like to start?</label>
    <input type="datetime-local" id="date">

    <label for="date">What style date would you like?</label>
    <ol id="style">
      <li><input type="checkbox" id="date"></li>
    </ol>
  </form>
  <label id="InviteLink">Invite link: </label>
  <label id="SurveyLink">Survey link: </label>
</div>