<h1>Welcome to Date Mates!</h1>

<p>You have agreed to go on a date with {{{email}}} Congratulations! They promise a good time with your preferences in mind.</p>

<div id="Formbox">
  <form id="Form">
    <div class="formbox">
      <label for="Name">What is your name?</label><br>
      <input type="text" id="Name"><br>
    </div>

    <div class="formbox">
      <label for="Date">What time would you like to start?</label><br>
      <input type="datetime-local" id="Date"><br>
    </div>

    <div class="formbox">
      <label for="Style">What style date would you like?</label>
      <ul id="Style">
        <li><input type="radio" id="DM" name="style"><label for="DM">Dinner and a Movie</label></li>
        <li><input type="radio" id="DA" name="style"><label for="DA">Dinner and Art Exhibit/Museum</label></li>
        <li><input type="radio" id="HO" name="style"><label for="HO">Hike or Outdoor activity</label></li>
        <li><input type="radio" id="BI" name="style"><label for="BI">Beach Day and Ice Cream</label></li>
        <li><input type="radio" id="SH" name="style"><label for="SH">Skating and Hot Chocolate (hand holding optional)</label></li>
        <li><input type="radio" id="LT" name="style"><label for="LT">Laser Tag</label></li>
        <li><input type="radio" id="BI" name="style"><label for="BI">Trampoline Park</label></li>
        <li><input type="radio" id="SO" name="style"><label for="SO">Other: </label><input type="text" id="SOIn"></li>
      </ul>
    </div>

    <div class="formbox">
      <label for="Food">What kind of food do you enjoy?</label>
      <ul id="Food">
        <li><input type="radio" id="I" name="food"><label for="I">Indian</label></li>
        <li><input type="radio" id="T" name="food"><label for="T">Thai Food</label></li>
        <li><input type="radio" id="B" name="food"><label for="B">Burgers</label></li>
        <li><input type="radio" id="S" name="food"><label for="S">Steakhouse</label></li>
        <li><input type="radio" id="V" name="food"><label for="V">Hilarious Vegan Options</label></li>
        <li><input type="radio" id="FO" name="food"><label for="FO">Other: </label><input type="text" id="FOIn"></li>
      </ul>
    </div>

    <div class="formbox">
      <label for="FoodRes">Do you have any allergies or food restrictions?</label><br>
      <input type="text" id="FoodRes" placeholder="Your answer">
    </div>

    <div class="formbox">
      <label for="Fanciness">On a scale of one to five, what is your preference in terms of fancy-schmanciness?</label>
      <ol id="Fanciness">
        <li><input type="radio" id="I" name="fanciness"><label for="I">Basically Pyjamas</label></li>
        <li><input type="radio" id="T" name="fanciness"><label for="T">Active Wear</label></li>
        <li><input type="radio" id="B" name="fanciness"><label for="B">Everyday Casual</label></li>
        <li><input type="radio" id="S" name="fanciness"><label for="S">Business Casual, like a Realtor</label></li>
        <li><input type="radio" id="V" name="fanciness"><label for="V">Dress & suit & tie</label></li>
      </ol>
    </div>

    <div class="formbox">
      <label for="Excitement">Excitement Level (Optional)?</label>
      <ol id="Excitement">
        <label>I dont even want to be here</label>
        <li><input type="radio" id="T" name="excitement"><label for="T"></label></li>
        <li><input type="radio" id="I" name="excitement"><label for="I"></label></li>
        <li><input type="radio" id="B" name="excitement"><label for="B"></label></li>
        <li><input type="radio" id="S" name="excitement"><label for="S"></label></li>
        <li><input type="radio" id="V" name="excitement"><label for="V"></label></li>
        <label>Best date of my life</label>
      </ol>
    </div>

    <div class="formbox">
      <label for="Car">{{{email}}} may not have a car, are you willing/able to drive?</label>
      <ol id="Car">
        <li><input type="radio" id="T" name="car"><label for="T">Yes</label></li>
        <li><input type="radio" id="I" name="car"><label for="I">No</label></li>
      </ol>
    </div>

    <div class="formbox">
      <label for="Additions">Any additions or things I should know?</label><br>
      <input type="text" id="Additions" placeholder="Your answer">
    </div>

    <input type="button" id="Submit" value="Submit">
  </form>
</div>