<h1>Welcome to Date Mates!</h1>

<p>You have agreed to go on a date with {{email}} Congratulations! They promise a good time with your preferences in mind.</p>

<div id="Formbox">
  <form id="Form">
    <label for="name">What is your name?</label><br>
    <input type="text" id="name"><br>

    <label for="date">What time would you like to start?</label><br>
    <input type="datetime-local" id="date"><br>

    <label for="date">What style date would you like?</label>
    <ol id="style">
      <li><input type="checkbox" id="DM"><label for="DM">Dinner and a Movie</label></li>
      <li><input type="checkbox" id="DA"><label for="DA">Dinner and Art Exhibit/Museum</label></li>
      <li><input type="checkbox" id="HO"><label for="HO">Hike or Outdoor activity</label></li>
      <li><input type="checkbox" id="BI"><label for="BI">Beach Day and Ice Cream</label></li>
    </ol>
  </form>
</div>