<p>Thank you for going on a date with {{name}}! They had a great time. 
  In the interest of professionalism and giving dating the structure and administrative beurocracy it has always deserved,
  {{name}} has requested you fill out this optional exit survey. Thank you!</p>
<div id="Formbox">
  <form id="Form" action={{url}} method="post">
    <div class="formbox">
      <label for="Performance">On a scale of Awkward to Charming, how would you rate {{name}}'s performance?</label>
      <ol id="Performance">
        <label>Awkward</label>
        <li><input type="radio" id="P1" name="performance" value="1" required><label for="P1"></label></li>
        <li><input type="radio" id="P2" name="performance" value="2"><label for="P2"></label></li>
        <li><input type="radio" id="P3" name="performance" value="3"><label for="P3"></label></li>
        <li><input type="radio" id="P4" name="performance" value="4"><label for="P4"></label></li>
        <li><input type="radio" id="P5" name="performance" value="5"><label for="P5"></label></li>
        <label>Charming</label>
      </ol>
    </div>

    <div class="formbox">
      <label for="Blue">Describe our date as a shade of blue.</label><br>
      <input type="text" id="Blue" name="blue" placeholder="Your answer" required>
    </div>

    <div class="formbox">
      <label for="Symptoms">At any point in our date did you experience the following:</label>
      <ul id="Symptoms">
        <li><input type="checkbox" id="S1" name="symptoms" value="Nausea"><label for="S1">Nausea</label></li>
        <li><input type="checkbox" id="S2" name="symptoms" value="L'Espirit des l'escalier"><label for="S2">L'Espirit des l'escalier</label></li>
        <li><input type="checkbox" id="S3" name="symptoms" value="Comfort"><label for="S3">Comfort</label></li>
        <li><input type="checkbox" id="S4" name="symptoms" value="Fear of the Abyss"><label for="S4">Fear of the Abyss</label></li>
        <li><input type="checkbox" id="S5" name="symptoms" value="Butterflies"><label for="S5">Butterflies</label></li>
        <li><input type="checkbox" id="S6" name="symptoms" value="Tinnitus"><label for="S6">Tinnitus</label></li>
        <li><input type="checkbox" id="S7" name="symptoms" value="Heartburn"><label for="S7">Heartburn</label></li>
        <li><input type="checkbox" id="S8" name="symptoms" value="Exhiliration"><label for="S8">Exhiliration</label></li>
        <li><input type="checkbox" id="S9" name="symptoms" value="Indegestion"><label for="S9">Indegestion</label></li>
        <li><input type="checkbox" id="S10" name="symptoms" value="Upset Stomach"><label for="S10">Upset Stomach</label></li>
        <li><input type="checkbox" id="S11" name="symptoms" value="Heard"><label for="S11">Heard</label></li>
        <li><input type="checkbox" id="S12" name="symptoms" value="Cared For"><label for="S12">Cared For</label></li>
        <li><input type="checkbox" id="S13" name="symptoms" value="Calm"><label for="S13">Calm</label></li>
        <li><input type="checkbox" id="S14" name="symptoms" value="Foot Pain"><label for="S14">Foot Pain</label></li>
        <li><input type="checkbox" id="S15" name="symptoms" value="Loss of Taste or Smell"><label for="S15">Loss of Taste or Smell</label></li>
        <li><input type="checkbox" id="S16" name="symptoms" value="Sore Throat"><label for="S16">Sore Throat</label></li>
        <li><input type="checkbox" id="S17" name="symptoms" value="Brain Fog"><label for="S17">Brain Fog</label></li>
        <li><input type="checkbox" id="SyO" name="symptoms" value="Other:"><label for="SyO">Other: </label><input type="text" id="SyOIn" name="symptoms other"></li>
      </ul>
    </div>

    <div class="formbox">
      <label for="Song">What words might you use, in a future song or TikTok, to describe your experience?</label><br>
      <input type="text" id="Song" name="song" placeholder="Your answer" required>
    </div>

    <div class="formbox">
      <label for="Comments">Any further comments:</label><br>
      <input type="text" id="Comments" name="comments" placeholder="Your answer">
    </div>

    <input type="submit" id="Submit" value="Submit">
  </form>
</div>