<h1>Exit Survey - Date Mates!</h1>

<p>Thank you for going on a date with {{{name}}}! They had a great time. 
  In the interest of professionalism and giving dating the structure and administrative beurocracy it has always deserved,
  {{{name}}} has requested you fill out this optional exit survey. Thank you!</p>
<div id="Formbox">
  <form id="Form" action="/surveyaction" method="post">
    <div class="formbox">
      <label for="Performance">On a scale of Awkward to Charming, how would you rate {{{name}}}'s performance?</label>
      <ol id="Performance">
        <label>Awkward</label>
        <li><input type="radio" id="P1" name="performance"><label for="P1"></label></li>
        <li><input type="radio" id="P2" name="performance"><label for="P2"></label></li>
        <li><input type="radio" id="P3" name="performance"><label for="P3"></label></li>
        <li><input type="radio" id="P4" name="performance"><label for="P4"></label></li>
        <li><input type="radio" id="P5" name="performance"><label for="P5"></label></li>
        <label>Charming</label>
      </ol>
    </div>

    <div class="formbox">
      <label for="Blue">Describe our date as a shade of blue.</label><br>
      <input type="text" id="Blue" placeholder="Your answer">
    </div>

    <div class="formbox">
      <label for="Symptoms">At any point in our date did you experience the following:</label>
      <ul id="Symptoms">
        <li><input type="checkbox" id="S1"><label for="S1">Nausea</label></li>
        <li><input type="checkbox" id="S2"><label for="S2">L'Espirit des l'escalier</label></li>
        <li><input type="checkbox" id="S3"><label for="S3">Comfort</label></li>
        <li><input type="checkbox" id="S4"><label for="S4">Fear of the Abyss</label></li>
        <li><input type="checkbox" id="S5"><label for="S5">Butterflies</label></li>
        <li><input type="checkbox" id="S6"><label for="S6">Tinnitus</label></li>
        <li><input type="checkbox" id="S7"><label for="S7">Heartburn</label></li>
        <li><input type="checkbox" id="S8"><label for="S8">Exhiliration</label></li>
        <li><input type="checkbox" id="S9"><label for="S9">Indegestion</label></li>
        <li><input type="checkbox" id="S10"><label for="S10">Upset Stomach</label></li>
        <li><input type="checkbox" id="S11"><label for="S11">Heard</label></li>
        <li><input type="checkbox" id="S12"><label for="S12">Cared For</label></li>
        <li><input type="checkbox" id="S13"><label for="S13">Calm</label></li>
        <li><input type="checkbox" id="S14"><label for="S14">Foot Pain</label></li>
        <li><input type="checkbox" id="S15"><label for="S15">Loss of Taste or Smell</label></li>
        <li><input type="checkbox" id="S16"><label for="S16">Sore Throat</label></li>
        <li><input type="checkbox" id="S17"><label for="S17">Brain Fog</label></li>
        <li><input type="checkbox" id="SyO"><label for="SyO">Other: </label><input type="text" id="SyOIn"></li>
      </ul>
    </div>

    <div class="formbox">
      <label for="Song">What words might you use, in a future song or TikTok, to describe your experience?</label><br>
      <input type="text" id="Song" placeholder="Your answer">
    </div>

    <div class="formbox">
      <label for="Comments">Any further comments:</label><br>
      <input type="text" id="Comments" placeholder="Your answer">
    </div>

    <input type="submit" id="Submit" value="Submit">
  </form>
</div>